 body {
            font-family:Montserrat;
            font-variant: small-caps;
            margin: 0;
        }
        .header {
            font-family:Montserrat;
            font-variant: small-caps;
            font-weight: bold;
            background-color: #66696b5f;
            padding: 10px 0;
            box-shadow: 10px 0 0 grey;
        }
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        .header-title {
            text-shadow: 0 0 12px #948f8f;
            font-family:Montserrat;
            font-variant: small-caps;
            font-size: 21px;
            font-weight: bold;
            color: #333;

        }
        .header-nav{
            color: #fff;
            padding: 10px;
        }
        .header-nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        .header-nav li {
            margin-left: 20px;
        }
        .header-nav a {
            text-decoration: none;
            color: #333;
        }
           /* Style the dropdown menus */
            .w3-dropdown-hover:hover .w3-dropdown-content {
                display:block;
                color: beige;

                 }
            .w3-dropdown-content {
              display: none;
              position: absolute;
              background-color:#66696b5f;;
              min-width: 160px;
             
            }
            .w3-dropdown-content a {
              color:wheat;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
            }
            
            .w3-dropdown-content a:hover {
              background-color: #66696b5f;;
            }
            
      
        
        /* Remove the scrollbar from the body */
body::-webkit-scrollbar {
    display: none;
  }
  /* Add a custom scrollbar to the form */
form::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  form::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
  form::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 10px;
  }
        .hero {
            background-image: url(https://cdn.pixabay.com/photo/2014/06/11/17/00/food-366875_1280.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            height: 100vh;
            padding: 150px 0;
            border-radius: 10px;
            text-align: center;
            color: #000000;
            filter: grayscale(0.1) contrast(1.1) brightness(); /* adjust the contrast and brightness */
            box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
        }
        .hero-title {           
            font-family:Montserrat;
            font-variant: small-caps;
            color: rgba(246, 222, 132, 0.686);            
            font-size: 80px;
            font-weight: bolder;
            margin-bottom: 20px;
            text-shadow: 7px 0 9px #393939;
        }
        .hero-description {
          color: aliceblue;
            font-family:Montserrat;
            font-variant: small-caps;
            font-size: 20px;
            text-shadow: 0 0 10px rgba(246, 222, 132, 0.686)c;
        }
        .hero-button {
          
            text-shadow: 0 0 10px black;
            background-color: #ffffff88;
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        .footer {            
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

          
          .content {
            position: relative;
            z-index: 1;
            color: #fff;
            padding: 20px;
          }